@import "tailwindcss";
@plugin "daisyui";

.custom-navbar-bg {
  background-image: url('/public/assets/nav_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.menu-horizontal li span {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.menu-horizontal li span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.menu-horizontal li:hover span {
  color: #fff;
}

.menu-horizontal li:hover span::after {
  width: 100%;
}
